# Ignore node_modules folder
node_modules
# Ignore all text files
*.txt
# Ignore files related to API keys
.env
# Optional npm cache directory
.npm
# Ignore build folder
build
# Ignore npm-debug.log
npm-debug.log
# Ignore extra files
.nyc
.DS_Store